POSTGRES_PASSWORD=troque-me
DB_OWNER_PASSWORD=troque-me-owner
DB_APP_USER_PASSWORD=troque-me-app
DB_SUPERADMIN_PASSWORD=troque-me-super
DB_SUPERUSER_CONNECTION=Host=127.0.0.1;Port=55432;Database=recorrencia;Username=postgres;Password=troque-me
DB_OWNER_CONNECTION=Host=127.0.0.1;Port=55432;Database=recorrencia;Username=app_owner;Password=troque-me-owner
INTERNAL_API_KEY=chave-interna-de-desenvolvimento-32+
ROOT_DOMAIN=localhost:3000
WEB_SCHEME=http
COOKIE_SECURE=false
HINOVA_ENCRYPTION_KEY=MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU=
HINOVA_USE_FAKE=true
